mixin addTag (tagName, dataArray)
  - const selfTag = ['meta', 'link'];
  each item in dataArray
        - var temp = {};
          each val,key in item
            - temp[key] = val;
        if selfTag.indexOf(tagName) !== -1
          #{tagName}&attributes(temp)/
        else 
          #{tagName}&attributes(temp)

doctype html
html(lang="en")
  head
    title= title
    +addTag('meta', tag.meta)
    +addTag('link', tag.headLink)
    +addTag('script', tag.headScript)
  body
    if vueInit.el
      - var selector = vueInit.el.match(/(?<=\.|#)(\w+)/)[0]
      if vueInit.el[0] === '#'
        div(id=selector)
          if vueInit.entrance
            div(is=vueInit.entrance)
      else if vueInit.el[0] === '.'
        div(class=selector)
          if vueInit.entrance
            div(is=vueInit.entrance)
    if reactInit.el
      - var selector = reactInit.el.match(/(?<=\.|#)(\w+)/)[0]
      if reactInit.el[0] === '#'
        div(id=selector)
      else if reactInit.el[0] === '.'
        div(class=selector)
      
    +addTag('link', tag.bodyLink)
    +addTag('script', tag.bodyScript)